<ion-view view-title="Login">
  <ion-content class="bar-red text-center">
  <div class="container">
    <h1 class="text-uppercase lato-m white">Dragon</h1>
    <p class="lato-m white">What's your deal?</p>
    <div class="list">
  <label class="item item-input">
    <input type="email" placeholder="Your Email ID">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>
  <label class="item item-input">
  <input type="tel" placeholder="Phone No.">
</label>
  <button class="button button-block button-stable">
  Sign Up
</button>
</div>
<h1 class="white lato-m">or</h1>
    <button class="loginBtn loginBtn--facebook">
  <i class="ionicons ion-social-facebook"></i> Login with Facebook
</button>

<button class="loginBtn loginBtn--google">
  <i class="ionicons ion-social-google-outline"></i> Login with Google
</button>
   </div> 
  </ion-content>
</ion-view>
