<ion-view view-title="Book a table voucher">
  <ion-content>
    <section class="text-center lato-m red">
    	<span>BOOKING CONFIRMED!</span>
    </section>
    <section>
    	<section class="cont-rest lato-m">
        <ul class="dark2 prices">
			<li>ORDER ID- 768768</li>
			<li>8 Guests</li>
			<li>Shakti Singh | +91-987979798</li>
			<li>10-1-2017 | Monday | 18:30pm</li>
			<li>4S Bar &amp; Restaurant, Defence Colony</li>
        </ul>
        <p class="lato-m flex space-between"><span>Advance Paid</span><span>&#8377; 1000</span></p>
    </section>
    <div class="guests container"><a class="red lato-m">Refund Policy</a></div>
    
    <div class="button-bar bar-assertive  lato-m order-bar">
  <a class="button" href="tel:1-408-555-5555"><i class="ionicons ion-android-call"></i>1-408-555-5555</a>
  <a class="button ">Cancel Booking</a>
  </div>
  </ion-content>
</ion-view>
