<ion-view view-title="Deal List">
  <ion-content>
    <div class="list">
   <!-- main offers -->

  <div class="item item-divider">
    <span class="lato-m red">Results (3)</span>
    <span class="lato-m red pull-right">View on Map</span>
  </div>

  <a class="item deal-item" href="#/app/dealDetails">
  <div class="deal-bar">
    <p class="lato-m deal">Quetzal</p>
    <p class="lato-m dim">2 Starters + 1 Sheesha + 2 Beverages</p>
  </div>
    <div class="deal-price lato-m dark">&#x20b9; 1000</div>
  </a>

  <a class="item deal-item" href="#/app/dealDetails">
  <div class="deal-bar">
    <p class="lato-m deal">Cheenos</p>
    <p class="lato-m dim">2 Starters + 1 Sheesha + 2 Beverages</p>
  </div>
    <div class="deal-price lato-m dark">&#x20b9; 2000</div>
  </a>

  <a class="item deal-item" href="#/app/dealDetails">
  <div class="deal-bar">
    <p class="lato-m deal">Undrgrnd</p>
    <p class="lato-m dim">2 Starters + 1 Sheesha + 2 Beverages</p>
  </div>
    <div class="deal-price lato-m dark">&#x20b9; 2999</div>
  </a>
<!-- other offers -->
 <div class="item item-divider bar-red">
    <span class="lato-m white">Other Offers</span>
 </div>
 <a class="item deal-item" href="#/app/dealDetails">
  <div class="deal-bar">
    <p class="lato-m deal">Kaaffiaa</p>
    <p class="lato-m dim">2 Starters + 1 Sheesha + 2 Beverages</p>
  </div>
    <div class="deal-price lato-m dark">1 + 1</div>
  </a>
  <a class="item deal-item" href="#/app/dealDetails">
  <div class="deal-bar">
    <p class="lato-m deal">Our Story</p>
    <p class="lato-m dim">2 Starters + 1 Sheesha + 2 Beverages</p>
  </div>
    <div class="deal-price lato-m dark">40%</div>
  </a>
</div>
  </ion-content>
</ion-view>
