<ion-view view-title="WHATS YOUR DEAL?" class="lato-m">
  <ion-content class="container home-wrap">
    <button ui-sref="app.request({type: 0})" class="button button-block button-assertive text-uppercase lato-m align-left">
  <i class="ionicons ion-android-add"></i> <span>Make your deal</span>
</button>
<button ui-sref="app.request({type: 1})" class="button button-block button-assertive text-uppercase lato-m align-left">
  <i class="ionicons ion-android-add "></i> <span>Group Booking</span>
</button>
<button ui-sref="app.request({type: 2})" class="button button-block button-assertive text-uppercase lato-m align-left">
  <i class="ionicons ion-android-add"></i> <span>Party/Corporate Deal</span>
</button>
<button ui-sref="app.restaurants" class="button button-block button-assertive text-uppercase lato-m align-left">
  <i class="ionicons ion-android-add"></i> <span>Pre-order</span>
</button>
  </ion-content>
</ion-view>
