      <ion-view title="Scrollable Tabbed Slide box">
        <ion-content scroll="false">
          <tab-slide-box tab="0">
     <div class="tsb-icons">
     <div class="tsb-ic-wrp">
<ion-scroll direction="x" class="tsb-hscroll">
<a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs"
on-finish-render="test()">{{tab.text}}</a>
</ion-scroll>
</div>
     </div>
        <ion-slide-box show-pager="false"
on-slide-changed="slideHasChanged($index)">
            <ion-slide>
<ion-scroll style="height:100%" delegate-handle="slide1Scroll" >
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
                <h3>Home content</h3>
</ion-scroll>
            </ion-slide>
            <ion-slide>
                <ion-list>
                <ion-scroll style="height:100%">
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>
                 <ion-item>check</ion-item>

                </ion-item>
            </ion-slide>
            <ion-slide>
                <h3>Mail content</h3>
            </ion-slide>
<ion-slide>
                <h3>Car content</h3>
            </ion-slide>
            <ion-slide>
                <h3>Profile content</h3>
            </ion-slide>
            <ion-slide>
                <h3>Favourites content</h3>
            </ion-slide>
<ion-slide>
                <h3>Chats content</h3>
            </ion-slide>
<ion-slide>
                <h3>Settings content</h3>
            </ion-slide>
<ion-slide>
                <h3>Photos content</h3>
            </ion-slide>
<ion-slide>
                <h3>Pets content</h3>
            </ion-slide>
        </ion-slide-box>
          </tab-slide-box>
        </ion-content>
      </ion-view>