<ion-view view-title="Restaurants">
  <ion-content>
    <div class="dim-bg header-2 lato-m text-right">
    	<span class="red">FILTER <i class="ionicons ion-funnel"></i></span>
    </div>
    <div class="preord-rest">
    	<div class="flex-col preord-img" style="background-image:url(../../../css/images/deal/restaurant1.jpg)">
    		<div class="pre-ord-name margin-top-auto lato-m white flex">
            	<span>4S Bar &amp; Restaurant</span>
                <span class="margin-left"><i class="ionicons ion-ios-location-outline"></i> Defence Colony</span>
            </div>
    	</div>
        <div class="lato-m flex">
        	<div class="rest-desc red">
            	<span>Chinese, Thai</span><br>
                <span> &#8377; 1500 for 2</span>
            </div>
            <button ui-sref="app.preOrderRequest" class="button button-assertive pull-right lato-m">
  SELECT ORDER
			</button>
        </div>
    </div>
    <div class="preord-rest">
    	<div class="flex-col preord-img" style="background-image:url(../../../css/images/deal/restaurant1.jpg)">
    		<div class="pre-ord-name margin-top-auto lato-m white flex">
            	<span>4S Bar &amp; Restaurant</span>
                <span class="margin-left"><i class="ionicons ion-ios-location-outline"></i> Defence Colony</span>
            </div>
    	</div>
        <div class="lato-m flex">
        	<div class="rest-desc red">
            	<span>Chinese, Thai</span><br>
                <span> &#8377; 1500 for 2</span>
            </div>
            <button ui-sref="app.preOrderRequest" class="button button-assertive pull-right lato-m">
  SELECT ORDER
			</button>
        </div>
    </div>
  </ion-content>
</ion-view>
