<ion-view view-title="Pre Order Confirm">
  <ion-content>
    <section class="cont-rest">
    	<div class="flex space-between ">
    		<span class="lato-m dark2">
    			Voucher Details
    		</span>
    		<a href="#" class="lato-m red">
    			Edit Items
    		</a> 
    			
    		
    	</div>
    </section>
    <section class="cont-rest">
    	<ul class="lato-m red">
    		<li class="veg">Chilli Paneer</li>
    		<li>Chilli Mushroom</li>
    		<li>Chilli Chicken</li>
    		<li>Chicken Pasta</li>
    	</ul>
    </section>
  </ion-content>
</ion-view>
