<ion-view view-title="DealDetails">
  <ion-content>
  <div class="flex-col">
  	<div class="food">
  		<img src="../css/images/deal/food1.jpg">
  	</div>
  	<div class="rest-name lato-m">
  		<span class="red rest-title">Quetzal</span>
  		<span class="dark">Sect-18, Noida</span>
  		<span class="pull-right dim reviews">Reviews(2)</span>
  	</div>
  	<div class="offer dim-bg lato-m">
  		<p class="dark2">Offer -</p>
  		<p class="dark2 text-capitalise">2 starters + 1 sheesha + 2 Beverages </p>
  	</div>
  	<div class="men-rev flex lato-m dim text-center space-around">
  		<div class="ico-box no-border-left">
  			<i class="ionicons ion-android-restaurant"></i>
  			<p>Menu</p>
  		</div>
  		<div class="ico-box ico-box-2">
  			<i class="ionicons ion-star"></i>
  			<i class="ionicons ion-star"></i>
  			<i class="ionicons ion-star"></i>
  			<i class="ionicons ion-star"></i>
  			<i class="ionicons ion-star"></i>
  			<p>Rating</p>
  		</div>
  		<div class="ico-box">
  			<i class="ionicons ion-images"></i>
  			<p>Photos</p>
  		</div>
  	</div>
  	<div class="cont-rest">
  		<span class="lato-m dim">Contact Restaurant</span>
  		<span class="pull-right"><a href="tel:+1-1800-555-5555" class="button button-balanced button-small"><i class="ionicons ion-android-call"></i> Call</a></span>
  	</div>
  	<button class="button button-assertive button-full lato-m margin-top-auto bottom-submit"> ACCEPT &amp; CONTINUE</button>
  	</div>
  </ion-content>
</ion-view>